# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

RUNTIME_RPC_NODE=<URL> # the RPC node used in runtime 
FORKING_RPC_NODE=<URL> # the RPC node forked by tests
ERC20_ADDRESS=0x1111111111111111111 #address to the erc20 token to be used with the tornado contract 

WELFARE_MNEMONIC=<BIP39_MNEMONIC>
DOCTOR_MNEMONIC=<BIP39_MNEMONIC>
OPTICIAN_MNEMONIC=<BIP39_MNEMONIC>
USER_MNEMONIC=<BIP39_MNEMONIC>
FOLKEREGISTERET_MNEMONIC=<BIP39_MNEMONIC>

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=our-secret